*.iml
*.apk
*.ap_
*.aab
*.dex
*.log
Thumbs.db
ehthumbs.db
bin/
gen/
out/
build/
/.gradle/
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/
/gradle/
